{% extends "./base.html" %}
{% load static %}
{% block title %}Contact us{% endblock %}
{% block content %}
<header class="mastheadc">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-4 mb-5">تماس با ما</h2>
            </div>
        </div>
    </div>
</header>
<body>
    <section class="page-section bg-dark" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">DEEV</h2>
                    <hr class="divider divider-light" />
                    <p dir="rtl" class="text-white">دیو استور یک فروشگاه تازه تاسیس میباشد که در حال حاضر فقط در زمینه خرید و فروش گلد فعالیت دارد.<br>
                        اما به زودی فروشگاه دیو نیز راه اندازی خواهد شد و شما خواهید توانست لایسنس بازی های مورد علاقه خود و محصولات مربوطه را از این فروشگاه تهیه کنید.<br>
                        در حال حاضر اگر قصد فروش گلد خود را دارید از راه های ارتباطی که در پایین صفحه ذکر شده با ما در تماس باشید.
                    </p>
                    <a class="btn btn-light btn-xl" href="#contact">راه های تماس</a>
                </div>
            </div>
        </div>
    </section>



    <section class="page-section bg-light" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-dark mt-0">راه های ارتباطی</h2>
                    <hr class="divider divider-black" />
                    <p dir="rtl" class="text-dark mb-5">برای فروش گلد از طریق پل های ارتباطی زیر با ما در تماس باشید</p>
                    <div class="container">
                     <div class="row">
                        <div class="col">    
                            <h4 class="mt-5 text-end">09120314611</h4>
                          </div>
                        <div class="col">
                          <h4 class="mt-5 text-end">:  تلگرام پشتیبانی</h4>
                        </div>  
                      </div> 
                      <div class="row">
                        <div class="col">
                            <a class="nav-link"   href="https://discord.gg/sfedbNZxFB"><h4 class="mt-5 text-end">discord.gg/sfedbNZxFB</h4></a>
                            </div>
                         <div class="col">
                         <a class="nav-link"   href="https://discord.gg/sfedbNZxFB"><h4 class="mt-5 text-end">: دیسکورد</h4></a>
                         </div>          
                      </div>
                      <div class="row">
                        <div class="col">
                      <a class="nav-link"   href="https://t.me/DeevStore"><h4 dir="rtl" class="mt-5 text-end">https://t.me/DeevStore</h4></a>
                        </div>
                        <div class="col">
                            <a class="nav-link"   href="https://t.me/DeevStore"><h4 dir="rtl" class="mt-5 text-end">کانال تلگرام :</h4></a>   
                    </div>        
                    </div>
                </div>    
            </div>
        </div>
    </section> 



</body>





{% endblock %}